# Ignore everything in this directory
# *
# Except this file
!.gitignore



img/avatars/*
img/demo/*
img/dropzone/*
img/gradient/*
img/invoice/*
img/pattern/*
img/splash/*
img/avatars/*
img/superbox/*
img/versions/*


#js/langs/*
#js/notification/*
#js/smartwidgets/*
#js/plugin/*
bower_components/*

# *.min.js
# *.min.css