<div class="md-modal md-effect-9 " id="myModal">
   <div class="md-content">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" ng-click="CloseModal()" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus"></i> Add Artifact</h4>
         </div>
         <form action="" id="checkout-form" class="smart-form" novalidate="novalidate">
            <fieldset style="padding: 10px 20px 0px 20px;">
               <section>
                  <label class="label">Artifact Title</label>
                  <label for="art01" class="select">
                  <select name="art01"  class="" 
                     data-ng-options="o.artifactName for o in artifactList"
                     data-ng-model="artifactSelect.title" >
                  </select><i></i>
                  </label>
               </section>

               <section>
                  <label class="label">Artifact Name</label>
                  <label for="file" class="input input-file">
                  <!-- TO-DO: fix div location -->
                     <div class="button">
                        <input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" ng-file-select="onFileSelect($files)" onclick="this.value=null">Browse
                     </div>
                     <input type="text" placeholder="Include some files" ng-model="fileName" readonly="" >
                  </label>
               </section>

               <div class="row">
                  <section class="col col-5">
                     <label class="label">Artifact Date</label>
                     <label class="input"> <i class="icon-append fa fa-calendar"></i>
                     <input ng-model="artifactSelect.date" type="text" name="request" placeholder="Request activation on" id="datepicker" data-dateformat='yy-mm-dd'>
                     </label>
                  </section>
               </div>
               <section>
                  <label class="label">Artifact Version Comment</label>
                  <label class="textarea"> 										
                  <textarea ng-model="artifactSelect.comment" rows="6" name="info" placeholder="Additional info"></textarea> 
                  </label>
               </section>
            </fieldset>
            <footer>
               <span class="progress" ng-show="progress[0] >= 0">
                  <div class="progress">
                     <div class="progress-bar bg-color-teal" aria-valuetransitiongoal="25" aria-valuenow="25" style="width: {{progress[0]}}%;">{{progress[0]}}%</div>
                  </div>
               </span>


               <button type="button" class="btn btn-primary" ng-click="SubmitChanges()">
               Save Artifact
               </button>
               <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CloseModal()">
               Cancel
               </button>
            </footer>
         </form>
      </div>
   </div>
</div>