<style>

</style>

<navigation>

    <nav:item data-view="/credit-risk" data-icon="fa fa-lg fa-fw fa-table" title="Credit Risk" />

  	<nav:item data-view="/run-calculator" ng-if="userRole == 'ROLE_ADMIN'" data-icon="fa fa-lg fa-fw fa-caret-square-o-right" title="Run Calculator"/>
    <nav:item data-view="/cfg-configuration" ng-if="userRole == 'ROLE_ADMIN' || userRole == 'ROLE_CONFIGURATION'" data-icon="fa fa-lg fa-fw fa-cogs" title="Configuration"/>

    <nav:item data-view="/account-settings" ng-if="userRole == 'ROLE_ADMIN'" data-icon="fa fa-lg fa-fw fa-user" title="Account Settings"/>

    <nav:item data-view="/regulatory-report" data-icon="fa fa-lg fa-fw fa-file-text-o" title="Reports"/>

    <nav:item data-view="/data-extraction" data-icon="fa fa-lg fa-fw fa-database" title="Data Extraction"/>

    <!-- <nav:item data-view="/regulatory-report" data-icon="fa fa-lg fa-fw fa-file-text-o" title="Reports" /> -->

    <!--<nav:group data-icon="fa fa-lg fa-fw fa-file-text-o" title="Reports">-->
        <!--<nav:group title="Market Risk">-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/market-risk/management" title="Management" />-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/market-risk/regulatory" title="Regulatory"/>-->
        <!--</nav:group>-->
        <!--<nav:group title="Operational Risk">-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/operational-risk/management" title="Management" />-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/operational-risk/regulatory" title="Regulatory"/>-->
        <!--</nav:group>-->
        <!--<nav:group title="Retail Credit Risk">-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/retail-credit-risk/management" title="Management" />-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/retail-credit-risk/regulatory" title="Regulatory"/>-->
        <!--</nav:group>-->
        <!--<nav:group title="Wholesale Credit Risk">-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/wholesale-credit-risk/management" title="Management" />-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/wholesale-credit-risk/regulatory" title="Regulatory"/>-->
        <!--</nav:group>-->
        <!--<nav:item data-icon="fa fa-folder txt-color-yellow" data-view="/regulatory-report/capital-to-be-sorted" title="Capital To Be Sorted‬" />-->
        <!--<div id="dynamicReportNav" ng-controller="navController">-->
            <!--<div ng-repeat="dir in rootParentDir">-->
                <!--<nav:group title="{{dir.directory}}">-->
                    <!--<nav:item ng-repeat="childDir in dir.content" data-icon="fa fa-folder txt-color-yellow"-->
                              <!--data-view="/regulatory-report/{{dir.directory|spaceToHyphen}}/{{childDir.directory|spaceToHyphen}}" title="{{childDir.directory}}"/>-->

                <!--</nav:group>-->
            <!--</div>-->
            <!--<nav:item ng-repeat="dir in rootDir"-->
                      <!--data-view="/regulatory-report/{{dir.directory|spaceToHyphen}}" title="{{dir.directory}}"/>-->
        <!--</div>-->
    <!--</nav:group>-->

    <li data-icon="fa fa-lg fa-fw fa-file-excel-o" title="Stress Testing" class="ng-scope ng-isolate-scope">
        <a href="#" title="Stress Testing" ng-click="downloadStressTesting()">
            <i class="fa fa-lg fa-fw fa-file-excel-o">
            </i>
            <span ng-class="{'menu-item-parent': !isChild}"
                  data-localize="Stress Testing"
                  class="ng-binding ng-isolate-scope menu-item-parent"> Stress Testing </span>
        </a>
    </li>

    <!--<nav:group data-icon="fa fa-lg fa-fw fa-file-excel-o" title="Stress Testing">-->
        <!--<nav:item data-view="/stress-testing/imf" title="Capital Adequacy"/>-->
        <!--<nav:item data-view="/stress-testing/liquidity" title="Liquidity"/>-->
    <!--</nav:group>-->

    <!-- <nav:item data-view="/stress-testing/loanpricing" data-icon="fa fa-lg fa-fw fa-file-excel-o" title="Loan Pricing"/> -->
    <!-- <nav:item data-view="/stress-testing/icaap" data-icon="fa fa-lg fa-fw fa-file-excel-o" title="ICAAP"/> -->

   <!--  <nav:item data-view="/calculator" data-icon="fa fa-lg fa-fw fa-tasks" title="RAROC"/> -->


</navigation>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
