
<div class="row">
    <div class="col-md-12">
        <h3 style="margin: 10px 0;">Capital Adequacy - Balance Sheet</h3>
       <!--  <iframe src="https://onedrive.live.com/embed?cid=CE5FD378AB66B55F&resid=CE5FD378AB66B55F%21220&authkey=AJZVBjRqz73vkZ0&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Input'!B1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True" style="width: 100%;" id="iframeID" frameBorder="0" scrolling="no"> -->
      <!--  <iframe style="width: 100%;" id="iframeID" frameBorder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=C483EC8771154F73&resid=C483EC8771154F73%21266&authkey=AC134DbjP3lO860&em=2&AllowTyping=True&ActiveCell='Profiles'!B1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True"></iframe>
          <p>Your browser does not support iframes.</p>
        </iframe> -->

        <iframe style="width: 100%;" id="iframeID" frameBorder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=CE5FD378AB66B55F&resid=CE5FD378AB66B55F%21227&authkey=AE6b-xGkotufc_4&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Input'!A10&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True"></iframe>
        <!--<iframe style="width: 100%;" id="iframeID" frameBorder="0" scrolling="no" src="https://onedrive.live.com/embed?cid=C483EC8771154F73&resid=C483EC8771154F73%21268&authkey=ADx60QKtLZlMpHE&em=2&AllowTyping=True&ActiveCell='Input'!B125&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True"></iframe>-->

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        function setHeight() {
            windowHeight = $(window).innerHeight();
            $('#iframeID').css('min-height', windowHeight-175);
            
        };

        setHeight();

        $(window).resize(function() {
            setHeight();
        });
    });
</script>  