<!-- widget grid -->
<section id="widget-grid" class="">

<div class="row">
    <div class="col-md-12">
        <h3 style="margin: 10px 0;">Loan Pricing</h3>
        <iframe src="https://onedrive.live.com/embed?cid=CE5FD378AB66B55F&resid=CE5FD378AB66B55F%21208&authkey=AG9S6WTvzTDVGgs&em=2&wdAllowInteractivity=False&ActiveCell='Input'!D1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True" style="width: 100%;" id="iframeID" frameBorder="0" scrolling="no">
          <p>Your browser does not support iframes.</p>
        </iframe>

    </div>
</div>


    <!-- end row -->

</section>




<script type="text/javascript">
    $(document).ready(function() {
        function setHeight() {
            windowHeight = $(window).innerHeight();
            $('#iframeID').css('min-height', windowHeight-175);
            
        };

        setHeight();

        $(window).resize(function() {
            setHeight();
        });
    });

</script>  