<style type="text/css">
    .smart-form > tbody > tr > td {
        padding: 0px;
        border-top: none;
    }

    .lb {
        position: relative;
        display: inline-block;
        padding-right: 5px;
        width: 90px;
        text-align: right;
        padding-bottom: 5px;
    }

    .fm {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        width: 130px;
    }

    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 100%;
        height: 600px
    }

    thead > tr > th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .wrapper.small {
        height: 550px;
        /*width: 500px;*/
        border: 1px solid #ccc;

    }

    .wrapper {
        overflow: auto;
        position: relative;
    }

    .wrapper table.table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .color-01, .table-striped > tbody > tr:nth-child(odd) > td.color-01, .table-striped > tbody > tr:nth-child(odd) > th.color-01 {
        background: rgb(236, 255, 240);
    }

    .color-02, .table-striped > tbody > tr:nth-child(odd) > td.color-01, .table-striped > tbody > tr:nth-child(odd) > th.color-01 {
        background: rgb(217, 249, 224);
    }

    .color-03, .table-striped > tbody > tr:nth-child(odd) > td.color-01, .table-striped > tbody > tr:nth-child(odd) > th.color-01 {
        background: rgb(217, 249, 224);
    }

    .table-header-popover {
        position: fixed;
        top: 100px;
        left: 100px;
    }

    tr th .fa.fa-question {
        float: right;
        padding-top: 5px;
        font-size: 10px;
    }

</style>
<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px;">
            <div class="table-responsive">
                <table class="table  smart-form">
                    <tbody>
                    <tr>
                        <td>
                            <div class="lb">Snapshot Date</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.snapshotDate }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.snapshotDate"
                                            ng-change="updateSnapshotDateState()"
                                            ng-options="o as o for o in Filter.filterOptions.snapshotDate track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Load Job Nbr</div>
                            <div class="fm">
                                <label class="select" ng-class="{ 'has-success' : Filter.filterSelection.loadJobNbr }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.loadJobNbr"
                                            ng-change="updateLoadJobNbrState()"
                                            ng-options="o as o for o in Filter.filterOptions.loadJobNbr track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Scenario ID</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.scenarioId }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.scenarioId"
                                            ng-change="updateScenarioIdState()"
                                            ng-options="o as o for o in Filter.filterOptions.scenarioId track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Industry</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.industry }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.industry"
                                            ng-change="updateIndustryState()"
                                            ng-options="o as o for o in Filter.filterOptions.industry track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Profit Centre</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.profitCentre }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.profitCentre"
                                            ng-change="updateProfitCentreState()"
                                            ng-options="o as o for o in Filter.filterOptions.profitCentre track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="lb">Asset Class</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.assetClass }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.assetClass"
                                            ng-change="updateAssetClassState()"
                                            ng-options="o as o for o in Filter.filterOptions.assetClass track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Exposure Type</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.exposureType }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.exposureType"
                                            ng-change="updateExposureTypeState()"
                                            ng-options="o as o for o in Filter.filterOptions.exposureType track by o">
                                        <option value="">All</option>
                                    </select><i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Entity Type</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.entityType }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.entityType"
                                            ng-change="updateEntityTypeState()"
                                            ng-options="o as o for o in Filter.filterOptions.entityType track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="lb">Product Type</div>
                            <div class="fm">
                                <label class="select"
                                       ng-class="{ 'has-success' : Filter.filterSelection.productType }">
                                    <select class="form-control input-sm"
                                            ng-model="Filter.filterSelection.productType"
                                            ng-change="updateProductType()"
                                            ng-options="o as o for o in Filter.filterOptions.productType track by o">
                                        <option value="">All</option>
                                    </select> <i></i>
                                </label>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">


        <div class="col-md-6" style="margin-top: 30px">
            <button type="submit" ng-click="search()" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>
                Search
            </button>
            <a class="btn btn-default btn-sm" href="javascript:void(0);" ng-click="resetFilter()">
                <i class="fa fa-refresh"></i> Reset</a>
            <a href="" ng-click="AddBookmarkModal.open()" class="btn btn-default btn-sm">
                <i class="fa fa-save"></i> Save to Bookmark </a>
            <a href="" ng-click="BookmarkModal.openBookmarkModal()" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-bookmark"></i> Open Bookmarks </a>

        </div>

        <div class="col-md-6">
            <table class="table table-bordered pull-right" style="width: 375px;">
                <thead>
                <tr>
                    <td style="width:110px;padding: 5px 6px;font-weight: bold;">O/S Bal</td>
                    <td style="width:110px;padding: 5px 6px;font-weight: bold;">RWA Amt</td>
                    <td style="width:155px;padding: 5px 6px;font-weight: bold;">Reg Cap</td>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="color-01" style="width:110px;padding: 5px 6px;">
                        {{ ( CreditRisk.sums.sumosbal )||' n/a '}}
                    </td>
                    <td class="color-01" style="width:110px;padding: 5px 6px;">
                        {{ ( CreditRisk.sums.sumrwa )||' n/a '}}
                    </td>
                    <td class="color-01" style="width:155px;padding: 5px 6px;">
                        {{ ( CreditRisk.sums.sumregcap ) ||' n/a '}}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <!-- GRID -->
    <div class="row">
        <div class="col-md-12 dataTables_wrapper">

            <div class="dt-toolbar no-padding">
                <div class="spinner-indicator" ng-if="loading" style="display:block;">
                    <div class="v-loading-indicator second v-loading-indicator-delay"></div>
                </div>
            </div>

            <div class="dt-toolbar no-padding">
                <div class="spinner-indicator" ng-if="CreditRisk.list.length==0"
                     style="display:block;">
                    <div class="empty-text">No data Found</div>
                </div>
            </div>

            <div class="wrapper small ">
                <table ng-float-head
                       class="table table-bordered table-striped  table-hover  sortable"
                       style="min-width: 0px; border: none; table-layout: auto;">
                    <colgroup>
                        <col style="width: 10%">
                        <!-- Snapshot Date -->
                        <col style="width: 10%">
                        <!-- Asset Class -->
                        <col style="width: 10%">
                        <!-- Exposure Type -->
                        <col style="width: 10%">
                        <!-- Customer -->
                        <col style="width: 10%">
                        <!-- Entity Type -->
                        <col style="width: 10%">
                        <!-- Product Type -->
                        <col style="width: 10%">
                        <!-- Risk Weight -->
                        <col style="width: 10%">
                        <!-- O/S Bal -->
                        <col style="width: 10%">
                        <!-- RWA Amt -->
                        <col style="width: 10%">
                        <!-- Reg Cap -->
                        <col style="width: 10%">
                        <!-- Load Job Nbr   -->
                        <col style="width: 10%">
                        <!-- Scenario ID -->
                        <col style="width: 10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <!-- <th class="">ID</th> -->
                        <th class="" style="border-left: none;">Snapshot Date</th>
                        <th class="">Asset Class</th>
                        <th class="">Exposure Type</th>

                        <th class="">Customer</th>

                        <th class="">Entity Type</th>
                        <th class="">Product Type</th>
                        <th class="">Risk Weight</th>

                        <th class="color-01">O/S Bal</th>
                        <th class="color-01">RWA Amt</th>
                        <th class="color-01">Reg Cap</th>

                        <th class="">Load Job Nbr</th>
                        <th class="">Scenario ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in CreditRisk.list">
                        <td>{{ row.snapshotDate }}</td>
                        <td>{{ row.assetClassFinal }}</td>
                        <td>{{ row.exposureTypeCode }}</td>
                        <td>{{ row.customer.customerName }}</td>
                        <td>{{ row.eraEntityType }}</td>
                        <td>{{ row.eraProductTypeFinal }}</td>
                        <td>{{ row.riskWeightFinal }}</td>
                        <td class="color-01">{{ row.eadBeforeCcfLcyAmt }}</td>
                        <td class="color-01">{{ row.rwaAmt }}</td>
                        <td class="color-01">{{ row.regCap }}</td>
                        <td>{{ row.loadJobNbr }}</td>
                        <td>{{ row.scenarioId }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- GRID END -->

    <!-- Pagination -->
    <div class="ngFooterPanel"
         ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}"
         ng-style="footerStyle()" style="height: 57px;">
        <div class="ngTotalSelectContainer">
            <div class="ngFooterTotalItems ngNoMultiSelect"
                 ng-class="{'ngNoMultiSelect': !multiSelect}">
                <span class="ngLabel">Total Items: {{ CreditRisk.totalElements }}</span><span
                    ng-show="filterText.length > 0" class="ngLabel ng-hide">(Showing Items: 25)</span>
            </div>
        </div>

        <div class="ngPagerContainer ngNoMultiSelect" style="float: right; margin-top: 10px;"
             ng-class="{'ngNoMultiSelect': !multiSelect}">
            <div style="float:left; margin-right: 10px;" class="ngRowCountPicker">
                <span style="float: left; margin-top: 3px;" class="ngLabel">Page Size:</span>
                <select style="float: left;height: 27px; width: 100px" ng-model="pageLength">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
            <div style="float:left; margin-right: 10px; line-height:25px;" class="ngPagerControl">
                <button class="ngPagerButton" ng-click="pageToFirst()" ng-disabled="cantPageBackward()"
                        title="First Page" disabled="disabled">
                    <div class="ngPagerFirstTriangle">
                        <div class="ngPagerFirstBar"></div>
                    </div>
                </button>

                <button class="ngPagerButton" ng-click="pageBackward()" ng-disabled="cantPageBackward()"
                        title="Previous Page" disabled="disabled">
                    <div class="ngPagerFirstTriangle ngPagerPrevTriangle"></div>
                </button>

                <input class="ngPagerCurrent" min="1" max="537" type="number"
                       style="width:50px; height: 24px; margin-top: 1px; padding: 0 4px;"
                       ng-model="currentPage">
                <span class="ngGridMaxPagesNumber" ng-show="maxPages() > 0">/ {{ CreditRisk.totalPages }} </span>

                <button class="ngPagerButton" ng-click="pageForward()" ng-disabled="cantPageForward()"
                        title="Next Page">
                    <div class="ngPagerLastTriangle ngPagerNextTriangle"></div>
                </button>

                <button class="ngPagerButton" ng-click="pageToLast()" ng-disabled="cantPageToLast()"
                        title="Last Page">
                    <div class="ngPagerLastTriangle">
                        <div class="ngPagerLastBar"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- Pagination END -->

</section>


<div class="md-modal md-effect-10 " id="bookmarkModal">
    <style>
        ._form {
            position: absolute;
            top: -195px;
            width: 65%;
            margin: 0 auto;
            left: 17%;
            -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5);
            box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5);
            transition: .5s;
        }

        .slide_form {
            transition: 0.5s;
            top: 0;
        }

        .overlayx {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        div.success {
            background-color: #dff0d8;
        }

        h2 {
            height: 100%;
            width: auto;
            display: inline-block;
            font-size: 15px;
            position: relative;
            margin: 0 0 0 10px;
            line-height: 34px;
            font-weight: 400;
            letter-spacing: 0;
        }

    </style>
    <div class="md-content">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="BookmarkModal.closeBookmarkModal()" data-dismiss="modal"
                        aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <i class="fa fa-bookmark-o" style="font-size: 20px;"></i>
                <h2><Strong translate> Bookmarks</Strong></h2>
            </div>
            <div class="modal-body">
                <div class="col-sm-4" style="margin-bottom:10px;padding-left: 0px;">
                    <div class="icon-addon addon-sm">
                        <input type="text" placeholder="Search" ng-model="query.name" class="form-control">
                        <label class="glyphicon glyphicon-search" rel="tooltip" title=""></label>
                    </div>
                </div>
                <div style="overflow: auto; width: 100%; position:relative;border: 1px solid #e5e5e5;min-height: 300px;">
                    <div class="dataTables_wrapper">
                        <div class="dt-toolbar no-padding">
                            <div class="spinner-indicator" ng-if="BookmarkModal.loading"
                                 style="top: 100px; display:block">
                                <div class="v-loading-indicator second v-loading-indicator-delay"></div>
                            </div>
                        </div>
                        <div class="dt-toolbar no-padding">
                            <div class="spinner-indicator" ng-if="!BookmarkModal.loading && BookmarkModal.bookmarks.length==0"
                                 style="display:block; top: 130px;">
                                <div class="empty-text">No data Found</div>
                            </div>
                        </div>
                    </div>
                    <div style="overflow: auto; width: 100%;max-height:350px;">

                        <div class=" demo-icon-font" style="padding:5px 10px;"
                             ng-repeat="data in BookmarkModal.bookmarks | filter:query">
                            <div ng-show="!data.edit">
                                <a href="" ng-click="BookmarkModal.loadBookmark(data.id)" ng-show="!data.edit">
                                    {{ data.name }}
                                </a>

                                <a href="" ng-click="BookmarkModal.delete(data)"
                                   style="float:right; margin-left: 15px; color: #CF4762;"
                                   title="Delete">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a href="" ng-click="BookmarkModal.edit(data)" style="float:right;"
                                   title="Edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>

                            <div ng-show="data.edit" class="form-inline" ng-form name="editForm{{data.id}}">
                                <input type="text" class="form-control"
                                       name="inputName"
                                       placeholder="Bookmark name"
                                       ng-model="data.tempName"
                                       ng-class="{'invalid': editForm{{data.id}}.inputName.$error.required}"
                                       required >
                                <a style="float:right; margin-top: 5px; margin-left: 5px;" href=""
                                   class="btn btn-xs btn-default" ng-click="BookmarkModal.cancel(data)">
                                    <span class="fa fa-times"></span> Cancel
                                </a>
                                <a style="float:right; margin-top: 5px;" href="" class="btn btn-xs btn-success"
                                   ng-click="BookmarkModal.save(data, this)">
                                    <span class="fa fa-save"></span> Save
                                </a>
                                <i ng-if="data.$saving" style="float:right; margin-top: 7px; margin-right: 5px;" class="fa fa-refresh fa-spin "></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="md-modal md-effect-10 " id="addBookmarkModal">
    <style>
        ._form {
            position: absolute;
            top: -195px;
            width: 65%;
            margin: 0 auto;
            left: 17%;
            -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5);
            box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.5);
            transition: .5s;
        }

        .slide_form {
            transition: 0.5s;
            top: 0;
        }

        .overlayx {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        div.success {
            background-color: #dff0d8;
        }

        h2 {
            height: 100%;
            width: auto;
            display: inline-block;
            font-size: 15px;
            position: relative;
            margin: 0 0 0 10px;
            line-height: 34px;
            font-weight: 400;
            letter-spacing: 0;
        }

    </style>
    <div class="md-content">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="AddBookmarkModal.close()" data-dismiss="modal"
                        aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <i class="fa fa-bookmark-o" style="font-size: 20px;"></i>
                <h2><Strong translate>Create New Bookmark</Strong></h2>
            </div>
            <div class="modal-body">
                <div >
                    <div class="dataTables_wrapper">
                        <div class="dt-toolbar no-padding">
                            <div class="spinner-indicator" ng-if="BookmarkModal.loading"
                                 style="top: 100px; display:block">
                                <div class="v-loading-indicator second v-loading-indicator-delay"></div>
                            </div>
                        </div>
                    </div>
                    <form name="addBookmarkForm">
                        <input type="text" class="form-control"
                               name="inputName"
                               placeholder="Enter bookmark name"
                               ng-model="AddBookmarkModal.form.name"
                               ng-class="{'invalid': !AddBookmarkModal.hideValidityStyle && addBookmarkForm.inputName.$error.required}"
                               required />
                        <div style="margin-top: 20px; text-align: right;">
                            <i ng-if="AddBookmarkModal.$saving" class="fa fa-refresh fa-spin "></i>
                            <a style="margin-top: 5px;" href="" class="btn btn-xs btn-success"
                               ng-click="AddBookmarkModal.save(data)">
                                <span class="fa fa-save"></span> Save
                            </a>
                            <a style="margin-top: 5px; margin-left: 5px;" href=""
                               class="btn btn-xs btn-default" ng-click="AddBookmarkModal.close()">
                                <span class="fa fa-times"></span> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    hieghtResize();
    pageSetUp();

    function hieghtResize() {
        // fix table height
        tableHeightSize();
        $(window).resize(function () {
            tableHeightSize()
        });
        function tableHeightSize() {
            var tableHeight = $(window).height() - 350;
            if (tableHeight < 320) {
                $('.dataTables_wrapper .wrapper').css('height', 320 + 'px');
            } else {
                $('.dataTables_wrapper .wrapper').css('height', tableHeight + 'px');
            }
        }
    }

</script> 