<style type="text/css">

    .inbox-body .table-wrap {
        margin-left: 0px;
    }

    .smart-form > tbody > tr > td {
        padding: 0px;
        border-top: none;
    }

    thead > tr > th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .wrapper.small {
        /*width: 500px;*/
        border: 1px solid #ccc;

    }

    .wrapper {
        overflow: auto;
        position: relative;
    }

    .wrapper table.table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table {
        margin-bottom: 0;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }

</style>

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<div>
    <h3 style="margin: 10px 0;">Reports</h3>

    <div id="iframe">


        <iframe style="width: 100%" id="iframeID" frameBorder="0" scrolling="no"
                src="http://10.60.9.7/ibmcognos/cgi-bin/cognos.cgi?b_action=xts.run&m=portal/cc.xts&m_folder=i3A260E5A82FE4B81B9928FEBC9FDBC8B">
            <p>Your browser does not support iframes.</p>
        </iframe>

    </div>
</div>

<script type="text/javascript">
    // pagefunction

    var pagefunction = function () {

        // fix table height
        tableHeightSize();

        $(window).resize(function () {
            tableHeightSize()
        });
        function tableHeightSize() {

            if ($('body').hasClass('menu-on-top')) {
                var menuHeight = 68;
                // nav height

                var tableHeight = ($(window).height() - 224) - menuHeight;
                if (tableHeight < (320 - menuHeight)) {
                    $('.table-wrap').css('height', (320 - menuHeight) + 'px');
                } else {
                    $('.table-wrap').css('height', tableHeight + 'px');
                }

            } else {
                var tableHeight = $(window).height() - 164;
                if (tableHeight < 320) {
                    $('.table-wrap').css('height', 320 + 'px');
                } else {
                    $('.table-wrap').css('height', tableHeight + 'px');
                }

            }

        }


    };

    pagefunction();

    $(document).ready(function () {
        function setHeight() {
            windowHeight = $(window).innerHeight();
            $('#iframeID').css('min-height', windowHeight - 175);

        };

        setHeight();

        $(window).resize(function () {
            setHeight();
        });
    });


</script>