<style type="text/css">
.icon-holder{
padding: 15px;
/*background: aliceblue;*/
}

.excel {
width:500px;
}
.file_icon {

}
.thumbnail_wrap {
display: inline-block;
position: relative;
}
figcaption {
padding: 0 10px;
font-size: 14px;
line-height: 17px;
color: black;
font-weight: bold;
display: block;
word-wrap: break-word;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">

<div class="row">
	<div class="col-md-12">
						<div class="excel">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td> 
											<div class="icon-holder"> 
												<!-- <a href="" > -->
													<div class="thumbnail_wrap file" style="padding-left: 35px;">
														<img alt="" border="0" class="file_icon" 
														data-extension="XLSX"
														data-file-or-image="file" 
														data-filename="IMF Mapping.xlsx" 
														height="100" src="resources\img\fileicons\excel-xlsx.png" 
														title="IMF Mapping.xlsx" width="86" style="width: 75px; height: 80px;">
													</div>
													<figcaption style=" width: 154px;">
														<span class="file_name">IMF Ver. 7</span>.<span class="file_extension">xlsx</span>
													</figcaption>
													<!-- <a href="api/stress-testing/download" download="api/stress-testing/download" target="_blank">Download<a> -->
													<a class="btn btn-default btn-xs" href="" style="margin-left: 39px;margin-top: 10px;" ng-click="DownloadExcel()">
														<i class="fa fa-download"></i> Download</a>
												<!-- </a> -->
											</div>


											
										<!-- <td> <div class="icon-holder"> <strong>IMF Ver. 7.xlsm</strong> <a href="data:text/plain,this is some text" download="some-filename.txt" target="_blank">Download<a></div> </td>
										<td> <div class="icon-holder"> <strong>IMF Ver. 7.xlsm</strong> </div> </td> -->
									</tr>
								</tbody>
							</table>
						</div>
	</div>
	<div class="col-md-12">
		

								<!-- <div class="tabbable tabs-below">
									<div class="tab-content padding-10">
										<div class="tab-pane active" id="AA">
											<iframe src="resources\doc\imf\3a-Input-Info.html" style="width: 100%;height: 100vh;" frameBorder="0">
											  <p>Your browser does not support iframes.</p>
											</iframe>
										</div>
										<div class="tab-pane" id="BB">
											<p>
												Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
											</p>
										</div>
										<div class="tab-pane" id="CC">
											<p>
												Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
											</p>
										</div>
									</div>
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#AA">Info RoadMap</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#BB">Input Country</a>
										</li>
										<li class="">
											<a data-toggle="tab" href="#CC">3a. Input-Info</a>
										</li>
									</ul>
								</div> -->




	</div>
</div>


	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
	

</script>